@keyframes slidedown {
    from {
        
        transform: translateY(-2em);
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    to {
        transform: translateY(0em);
        opacity: 1;
    }
}
  
@keyframes rotationInverted {
    from {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(0deg);
    }
}
