@keyframes slidedown {
    from {
        
        transform: translateY(-2em);
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    to {
        transform: translateY(0em);
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}