.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    margin: 120px 7%;
    @media (max-width: 640px) {
        margin: 90px 7%;
        gap: 90px;
    }
    img {
        @media (max-width: 640px) {
            width: 198px;
        }
        @media (max-width: 1024px) {
            width: 400px;
        }
    }
    p {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        @media (max-width: 640px) {
            font-size: 18px;
            text-align: center;
            padding: 0 20px;
        }
        @media (max-width: 1024px) {
            font-size: 24px;
            text-align: center;
            padding: 0 20px;
        }
    }
    a {
        color: black;
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 640px) {
            font-size: 14px;
        }
    }
}