.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 7%;
}
.header nav {
  display: flex;
  flex-direction: row;
  gap: 60px;
}
.header a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 24px;
}

.footer {
  display: grid;
  justify-items: center;
  background-color: black;
  color: white;
  padding: 60px 0px 30px 0px;
  gap: 33px;
  font-weight: 500;
  font-size: 24px;
}

.banner {
  position: relative;
  padding: 0px 7%;
}
.banner img {
  object-fit: cover;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  filter: brightness(50%);
  z-index: 1;
}
.banner h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 2;
  font-weight: 700;
  font-size: 48px;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
}

.card {
  position: relative;
}
.card img {
  width: 100%;
  height: 340px;
  border-radius: 10px;
  object-fit: cover;
  z-index: 1;
}
.card h2 {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 340px;
  font-size: 18px;
  font-style: none;
  color: white;
  text-shadow: 1px 1px 2px rgb(80, 80, 80);
  z-index: 2;
}

.slideshow-container {
  padding: 0 0 24px 0;
}

.slideshow {
  position: relative;
  color: white;
}
.slideshow_img {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}
.slideshow_arrow, .slideshow_paging {
  all: unset;
  position: absolute;
}
.slideshow .left {
  left: 2%;
  top: 50%;
  transform: translate(-2%, -50%);
}
.slideshow .rigth {
  left: 98%;
  top: 50%;
  transform: translate(-98%, -50%);
}
.slideshow_paging {
  left: 50%;
  top: 92%;
  transform: translate(-50%, -92%);
  font-size: 18px;
  font-weight: 500;
}

.collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 5px;
  padding: 10px 15px;
  color: white;
  background-color: #FF6060;
}
.collapse h2 {
  font-weight: 600;
}
.collapse button {
  all: unset;
}

.collapse-description {
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(250, 250, 250);
  font-size: 17px;
}

.collapse-container {
  width: 100%;
}

.host {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #FF6060;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}
.host_img {
  border-radius: 100%;
  width: 64px;
}

.stars {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.stars_filled {
  color: #FF6060;
}
.stars_empty {
  color: #E3E3E3;
}

.cards-container {
  display: grid;
  grid-template: "a a a" "b b b";
  justify-content: center;
  margin: 40px 7%;
  gap: 50px;
  padding: 50px;
  background-color: rgb(250, 250, 250);
  border-radius: 25px;
}

.housing-container {
  margin: 0 100px;
}

.housing {
  display: flex;
  justify-content: space-between;
}
.housing_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.housing_info h1 {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
}
.housing_info h3 {
  font-size: 18px;
  font-weight: 500;
}
.housing_info-tag {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
.housing_info-tag p {
  text-align: center;
  padding: 5px;
  width: 15%;
  color: white;
  background-color: #FF6060;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
}

.housing-description {
  display: flex;
  gap: 76px;
  margin: 25px 0 50px 0;
}
.housing-description h2 {
  font-size: 18px;
}
.housing-description li {
  list-style: none;
}

.about-categories {
  display: grid;
  gap: 30px;
  margin: 45px 14%;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin: 120px 100px;
}
.error p {
  color: #FF6060;
  font-size: 36px;
  font-weight: 500;
}
.error a {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

* {
  font-family: "Montserrat";
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
